Repository fcsdevs/fcs-registration-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --fix",
  "*.{js,jsx,json}": "prettier --write"
}

add encoded credentials for vps sync
  credentials.b64
Due: none

update docker setup
  Dockerfile
  docker-compose.prod.yml
Due: none

chore: add db backup and migration scripts
  db-data-backup.json
  scripts/export-data.cjs
  scripts/export-data.js
  scripts/restore-data.cjs
Due: eslint --fix, prettier --write

seting up Autodeploy
  .github/workflows/build-deploy.yml
Due: none

finalizing automated backup
  .github/workflows/build-deploy.yml
  .gitignore
Due: none

fixes
  src/modules/events/service.js
Due: eslint --fix, prettier --write

docs: auto-generated documentation [skip ci]
  docs/generated/global.html
  docs/generated/index.html
  docs/generated/lib_cloudinary.js.html
  docs/generated/lib_db-connection.js.html
  docs/generated/lib_helpers.js.html
  docs/generated/lib_logger.js.html
  docs/generated/lib_mail.js.html
  docs/generated/lib_scope-helpers.js.html
  docs/generated/middleware_rate-limit-handler.js.html
  docs/generated/middleware_scope-validator.js.html
  docs/generated/middleware_timeout-handler.js.html
  docs/generated/modules_attendance_controller.js.html
  docs/generated/modules_attendance_service.js.html
  docs/generated/modules_audit_controller.js.html
  docs/generated/modules_audit_service.js.html
  docs/generated/modules_auth_controller.js.html
  docs/generated/modules_auth_service.js.html
  docs/generated/modules_centers_controller.js.html
  docs/generated/modules_centers_service.js.html
  docs/generated/modules_events_controller.js.html
  docs/generated/modules_events_service.js.html
  docs/generated/modules_groups_controller.js.html
  docs/generated/modules_groups_service.js.html
  docs/generated/modules_members_controller.js.html
  docs/generated/modules_members_service.js.html
  docs/generated/modules_notifications_controller.js.html
  docs/generated/modules_notifications_service.js.html
  docs/generated/modules_registrations_controller.js.html
  docs/generated/modules_registrations_pdf-service.js.html
  docs/generated/modules_registrations_service.js.html
  docs/generated/modules_reports_controller.js.html
  docs/generated/modules_reports_service.js.html
  docs/generated/modules_roles_controller.js.html
  docs/generated/modules_roles_service.js.html
  docs/generated/modules_units_controller.js.html
  docs/generated/modules_units_service.js.html
  docs/generated/modules_users_service.js.html
Due: none

fixes
  .github/workflows/build-deploy.yml
Due: none

Adjustment/ modification based on required and optional contact informations
  prisma/migrations/20260312165454_make_phone_optional/migration.sql
  prisma/schema.prisma
  src/lib/mail.js
  src/lib/validation.js
  src/modules/auth/controller.js
  src/modules/auth/routes.js
  src/modules/auth/service.js
  src/modules/members/service.js
  src/modules/units/service.js
Due: eslint --fix, prettier --write

fixing cors error
  nginx/conf.d/default.conf
  src/index.js
Due: eslint --fix, prettier --write

Revert "Adjustment/ modification based on required and optional contact infor…"
  prisma/migrations/20260312165454_make_phone_optional/migration.sql
  prisma/schema.prisma
  src/lib/mail.js
  src/lib/validation.js
  src/modules/auth/controller.js
  src/modules/auth/routes.js
  src/modules/auth/service.js
  src/modules/members/service.js
  src/modules/units/service.js
Due: eslint --fix, prettier --write

redeployable version
  nginx/conf.d/default.conf
Due: none

minor fixes
  prisma/schema.prisma
  src/lib/validation.js
  src/modules/auth/service.js
Due: eslint --fix, prettier --write

removing useless migrations
  prisma/migrations/20260109180041_sync_schema_changes/migration.sql
  prisma/migrations/20260312165454_make_phone_optional/migration.sql
Due: none

trying to move migration cleanly
  prisma/migrations/20260316014700_init_version_2/migration.sql
Due: none

fixes
  .gitignore
  prisma/seed.js
Due: eslint --fix, prettier --write

Fix: Schema sync, squashed migrations, and seed.js fix
  scripts/restore-db.js
Due: eslint --fix, prettier --write

moving on
  docker-compose.prod.yml
Due: none

moving on
  src/modules/auth/service.js
Due: eslint --fix, prettier --write

fixes
  src/modules/auth/service.js
Due: eslint --fix, prettier --write

fixes
  src/lib/mail.js
Due: eslint --fix, prettier --write

fixes
  docker-compose.yml
  nginx/conf.d/default.conf
Due: none

fixes/hot
  docker-compose.yml
Due: none

continues backup settings
  scripts/cloud-sync.js
Due: eslint --fix, prettier --write

Remove GitHub Actions workflows and simplify Docker configuration
  .github/workflows/build-deploy.yml
  .github/workflows/db-migration.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/security.yml
  .github/workflows/test-lint.yml
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
Due: none

update
  docker-compose.yml
Due: none

feat: add Docker development environment configuration and update database backup management
  .gitignore
  Dockerfile.dev
  backups/db-data-backup.json
  docker-compose.dev.yml
  package-lock.json
Due: prettier --write

refactor: simplify QR code data to encode only fcsCode or registration ID
  src/modules/registrations/pdf-service.js
Due: eslint --fix, prettier --write

update docker compose
  docker-compose.yml
Due: none
