Repository fcsdevs/fcs-registration-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

expantiona of endpoitoits based on integration
  package.json
  prisma/migrations/20251218150119_dev/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/index.js
  src/lib/db-connection.js
  src/lib/helpers.js
  src/lib/logger.js
  src/lib/validation.js
  src/middleware/auth.js
  src/middleware/error-handler.js
  src/modules/auth/controller.js
  src/modules/auth/routes.js
  src/modules/auth/service.js
  src/modules/events/controller.js
  src/modules/invites/controller.js
  src/modules/invites/routes.js
  src/modules/invites/service.js
  src/modules/members/controller.js
  src/modules/members/routes.js
  src/modules/members/service.js
  src/modules/registrations/controller.js
  src/modules/registrations/routes.js
  src/modules/roles/routes.js
  src/modules/roles/service.js
  src/modules/users/controller.js
  src/modules/users/routes.js
  src/modules/users/service.js
  src/routes/health.js
Due: eslint --fix, prettier --write

great milestone
  .gitignore
  package-lock.json
  prisma/seed.js
  scripts/setup-correct-units.js
  src/lib/validation.js
  src/modules/auth/service.js
  src/modules/centers/service.js
  src/modules/events/service.js
  src/modules/members/controller.js
  src/modules/members/service.js
  src/modules/registrations/service.js
  src/modules/units/controller.js
  src/modules/units/service.js
  src/modules/users/controller.js
  src/modules/users/routes.js
  src/modules/users/service.js
Due: eslint --fix, prettier --write

endpoint expantion and adjustment based on requiments and integration
  package-lock.json
  package.json
  prisma/seed.js
  scripts/create-registrar-role.js
  scripts/init-roles.js
  src/modules/centers/controller.js
  src/modules/centers/service.js
  src/modules/events/controller.js
  src/modules/events/service.js
  src/modules/groups/controller.js
  src/modules/groups/routes.js
  src/modules/groups/service.js
  src/modules/members/controller.js
  src/modules/members/service.js
  src/modules/registrations/controller.js
  src/modules/registrations/routes.js
  src/modules/registrations/service.js
  src/modules/reports/controller.js
  src/modules/reports/service.js
  src/modules/roles/service.js
  src/modules/units/controller.js
  src/modules/units/service.js
  src/modules/users/controller.js
  src/modules/users/service.js
Due: eslint --fix, prettier --write

add print tag
  nodemon.json
  package-lock.json
  package.json
  src/modules/registrations/controller.js
  src/modules/registrations/pdf-service.js
  src/modules/registrations/routes.js
  src/modules/registrations/service.js
Due: eslint --fix, prettier --write

workflow fixes
  .github/workflows/docs.yml
  .github/workflows/security.yml
  jest.config.js
  package.json
Due: eslint --fix, prettier --write

workflow fixes
  .github/workflows/security.yml
  src/sanity.test.js
Due: eslint --fix, prettier --write

still on the Workflow
  package.json
  prisma/schema.prisma
Due: prettier --write

still on the workflow
  Dockerfile
  SEED_DATA_README.md
  jest.config.js
  jest.setup.js
  package.json
  scripts/create-registrar-role.sql
  src/sanity.test.js
Due: eslint --fix, prettier --write

docs: auto-generated documentation [skip ci]
  docs/generated/global.html
  docs/generated/index.html
  docs/generated/lib_db-connection.js.html
  docs/generated/lib_helpers.js.html
  docs/generated/lib_logger.js.html
  docs/generated/middleware_rate-limit-handler.js.html
  docs/generated/middleware_timeout-handler.js.html
  docs/generated/modules_attendance_controller.js.html
  docs/generated/modules_attendance_service.js.html
  docs/generated/modules_audit_controller.js.html
  docs/generated/modules_audit_service.js.html
  docs/generated/modules_auth_controller.js.html
  docs/generated/modules_auth_service.js.html
  docs/generated/modules_centers_controller.js.html
  docs/generated/modules_centers_service.js.html
  docs/generated/modules_events_controller.js.html
  docs/generated/modules_events_service.js.html
  docs/generated/modules_groups_controller.js.html
  docs/generated/modules_groups_service.js.html
  docs/generated/modules_members_controller.js.html
  docs/generated/modules_members_service.js.html
  docs/generated/modules_notifications_controller.js.html
  docs/generated/modules_notifications_service.js.html
  docs/generated/modules_registrations_controller.js.html
  docs/generated/modules_registrations_pdf-service.js.html
  docs/generated/modules_registrations_service.js.html
  docs/generated/modules_reports_controller.js.html
  docs/generated/modules_reports_service.js.html
  docs/generated/modules_roles_controller.js.html
  docs/generated/modules_roles_service.js.html
  docs/generated/modules_units_controller.js.html
  docs/generated/modules_units_service.js.html
Due: none

still on workflow
  prisma/schema.prisma
Due: none

making projress
  src/index.js
Due: eslint --fix, prettier --write

fixing registration
  src/modules/registrations/service.js
Due: eslint --fix, prettier --write

makin prog
  scripts/debug_reg.js
  scripts/fix_event_settings.js
  src/modules/registrations/service.js
Due: eslint --fix, prettier --write

barcode fixes
  src/modules/attendance/service.js
Due: eslint --fix, prettier --write

minor fixes
  src/modules/members/controller.js
  src/modules/reports/service.js
  src/modules/roles/controller.js
  src/modules/roles/service.js
Due: eslint --fix, prettier --write

fixes for integration
  src/modules/events/service.js
  src/modules/registrations/controller.js
  src/modules/registrations/routes.js
  src/modules/registrations/service.js
  src/modules/reports/service.js
Due: eslint --fix, prettier --write

futher fixes
  src/modules/registrations/service.js
Due: eslint --fix, prettier --write

minor
  get_event.js
  prisma/migrations/20260109180041_sync_schema_changes/migration.sql
  src/lib/mail.js
Due: eslint --fix, prettier --write

minor
  .gitignore
  package-lock.json
  package.json
  prisma/seed.js
  src/lib/validation.js
Due: eslint --fix, prettier --write

okay
  src/lib/helpers.js
  src/lib/validation.js
  src/modules/auth/controller.js
  src/modules/auth/routes.js
  src/modules/auth/service.js
Due: eslint --fix, prettier --write

Fixes and Expantion
  package-lock.json
  package.json
  prisma/schema.prisma
  src/lib/cloudinary.js
  src/lib/helpers.js
  src/lib/validation.js
  src/middleware/upload.js
  src/modules/auth/service.js
  src/modules/centers/service.js
  src/modules/events/controller.js
  src/modules/events/routes.js
  src/modules/events/service.js
  src/modules/groups/service.js
  src/modules/members/controller.js
  src/modules/members/routes.js
  src/modules/reports/service.js
Due: eslint --fix, prettier --write

chore: ignore temporary prisma scripts and backup files
  .gitignore
Due: none

okay
  src/modules/auth/service.js
Due: eslint --fix, prettier --write

docs: auto-generated documentation [skip ci]
  docs/generated/global.html
  docs/generated/index.html
  docs/generated/lib_cloudinary.js.html
  docs/generated/lib_db-connection.js.html
  docs/generated/lib_logger.js.html
  docs/generated/lib_mail.js.html
  docs/generated/middleware_rate-limit-handler.js.html
  docs/generated/middleware_timeout-handler.js.html
  docs/generated/modules_attendance_controller.js.html
  docs/generated/modules_attendance_service.js.html
  docs/generated/modules_audit_controller.js.html
  docs/generated/modules_audit_service.js.html
  docs/generated/modules_auth_controller.js.html
  docs/generated/modules_auth_service.js.html
  docs/generated/modules_centers_controller.js.html
  docs/generated/modules_centers_service.js.html
  docs/generated/modules_events_controller.js.html
  docs/generated/modules_events_service.js.html
  docs/generated/modules_groups_controller.js.html
  docs/generated/modules_groups_service.js.html
  docs/generated/modules_members_controller.js.html
  docs/generated/modules_members_service.js.html
  docs/generated/modules_notifications_controller.js.html
  docs/generated/modules_notifications_service.js.html
  docs/generated/modules_registrations_controller.js.html
  docs/generated/modules_registrations_pdf-service.js.html
  docs/generated/modules_registrations_service.js.html
  docs/generated/modules_reports_controller.js.html
  docs/generated/modules_reports_service.js.html
  docs/generated/modules_roles_controller.js.html
  docs/generated/modules_roles_service.js.html
  docs/generated/modules_units_controller.js.html
  docs/generated/modules_units_service.js.html
Due: none

expantion and fixed
  prisma/schema.prisma
  public/files/images/resized-image-1768431124804-154400254.jpeg
  src/lib/cloudinary.js
  src/lib/helpers.js
  src/lib/validation.js
  src/middleware/request-validator.js
  src/modules/events/controller.js
  src/modules/events/routes.js
  src/modules/events/service.js
  src/modules/members/controller.js
  src/modules/members/service.js
  src/modules/notifications/controller.js
  src/modules/notifications/service.js
  src/modules/users/controller.js
  src/modules/users/routes.js
  src/modules/users/service.js
Due: eslint --fix, prettier --write

fix: Auto-publish events and fix hierarchical visibility
  prisma/publish-all-events.js
  prisma/schema.prisma
  src/modules/events/service.js
Due: eslint --fix, prettier --write

docs: auto-generated documentation [skip ci]
  docs/generated/global.html
  docs/generated/index.html
  docs/generated/lib_cloudinary.js.html
  docs/generated/lib_db-connection.js.html
  docs/generated/lib_helpers.js.html
  docs/generated/lib_logger.js.html
  docs/generated/lib_mail.js.html
  docs/generated/middleware_rate-limit-handler.js.html
  docs/generated/middleware_timeout-handler.js.html
  docs/generated/modules_attendance_controller.js.html
  docs/generated/modules_attendance_service.js.html
  docs/generated/modules_audit_controller.js.html
  docs/generated/modules_audit_service.js.html
  docs/generated/modules_auth_controller.js.html
  docs/generated/modules_auth_service.js.html
  docs/generated/modules_centers_controller.js.html
  docs/generated/modules_centers_service.js.html
  docs/generated/modules_events_controller.js.html
  docs/generated/modules_events_service.js.html
  docs/generated/modules_groups_controller.js.html
  docs/generated/modules_groups_service.js.html
  docs/generated/modules_members_controller.js.html
  docs/generated/modules_members_service.js.html
  docs/generated/modules_notifications_controller.js.html
  docs/generated/modules_notifications_service.js.html
  docs/generated/modules_registrations_controller.js.html
  docs/generated/modules_registrations_pdf-service.js.html
  docs/generated/modules_registrations_service.js.html
  docs/generated/modules_reports_controller.js.html
  docs/generated/modules_reports_service.js.html
  docs/generated/modules_roles_controller.js.html
  docs/generated/modules_roles_service.js.html
  docs/generated/modules_units_controller.js.html
  docs/generated/modules_units_service.js.html
Due: none

adim seperation of concerns
  scripts/setup_hierarchy.js
  src/lib/validation.js
  src/modules/events/service.js
  src/modules/registrations/service.js
  src/modules/units/controller.js
  src/modules/units/routes.js
  src/modules/units/service.js
  src/modules/users/service.js
Due: eslint --fix, prettier --write

moving on
  src/lib/helpers.js
  src/modules/auth/service.js
Due: eslint --fix, prettier --write

moving on
  src/lib/validation.js
  src/modules/auth/service.js
  src/modules/units/controller.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{js,jsx,json}
